.header--title-container{
    width: 100%;
    max-height: 400px;
    min-width: 425px;
    max-width: 1700px;
    background: url("../assets/imgs/banner/lss-banner-pc.jpg") center/cover no-repeat;
}
.main--specialities-container::after{
    height: 490px;
    top: 97%;
}
.main--about-container{
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 400px;
}
.main--contact-us{
    margin-top: 40px;
}
.map-responsive iframe{
    width: 95%;
}

.items-container{
    flex-basis: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.item-margin{
    width: 25%;
}
.item .item-wrap {
    width: 20%;
    height: auto;
}
.item .item-wrap:after {
    width: 90%;
}
.item-wrap img{
    width: 80%;
    height: auto;
    min-height: 200px;
   
}
.footer--info-container{
    flex-basis: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.footer--info-container p{
    font-size: 1.4rem;
}
.footer--info{
    width: 25%;
}

/* .find-us-container{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
}
.find-us-content{
    width: 30%;
    margin: 0;
}
.map-responsive{
    width: 50%;
    height: 80px;
    margin: 0;
    margin-right: 30px;
} */